@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
a{
    display: inline-block;
    text-decoration: none;
}
.header{
    background: #FF3E6C;
    padding: 22px 0 ;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item{
    font-weight: 500;
    font-size: 14px;
}
.menu-item a{
    color:#fff;
    margin-left: 30px;
}
.about{
    background: #FFEFF5;
    padding: 50px 20px;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}

.about-title{
    font-weight: bold;
    font-size: 36px;
    text-align: left;
    color: #000000;
    margin-top: 50px;

}
.about-caption{
    font-size: 18px;
    color: #454545;
    margin: 25px 0 35px;
}

.about-subtitle{
    font-size: 18px;
    line-height: 21px;
    color: #454545;
    margin: 7px 0 20px;
}
.about-desc{
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.about-img{
    padding-left: 40px;
    margin: 100px 65px 24px;
}
.services{
    text-align: center;
    background: #EFEFEF;
}
.col-4{
    width: 33.33333%;
    padding: 0 15px;
}
.services{
    padding: 50px 80px 20px;
}
.services-item{
    border: 1px solid #FF3E6C;
    background: #FFFFFF;
    padding: 25px 33px;
    margin: 36px 0;
}
.services-title{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #000000;
}
.services-subtitle{
    font-size: 18px;
    text-align: center;
    color: #454545;
    margin: 7px 0 36px;
}
.services-desc{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #FF3E6C;
}
.services-description{
    font-weight: normal;
    font-size: 16px;
    color: #454545;
    padding: 14px 20px;
}

.footer{
    background: #FF3E6C;
    padding: 40px 80px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer-desc{
    font-size: 12px;
    color: #FFFFFF;
}