@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

.header {
    background: #FF3E6C;
    padding: 22px 0;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-item {
    font-weight: 500;
    font-size: 14px;
}

.menu-item a {
    color: #fff;
    margin-left: 30px;
}

.about {
    background: #FFEFF5;
    padding: 50px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.about-title {
    font-size: 36px;
    line-height: 42px;
    text-align: left;
    color: #000000;
    margin-bottom: 24px;
}

.about-caption {
    font-size: 18px;
    line-height: 21px;
    color: #454545;
    margin-bottom: 35px;
}

.about-subtitle {
    font-size: 18px;
    line-height: 21px;
    color: #454545;
    margin-bottom: 20px;
}

.about-desc {
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}

.about-img {
    padding-left: 40px;

}

.services {
    text-align: center;
    background: #EFEFEF;
    padding: 50px 0 13px;
}

.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}

.services-item {
    border: 1px solid #FF3E6C;
    background: #FFFFFF;
    padding: 28px 33px;
    margin: 36px 0;
}

.services-title {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #000000;
    margin-bottom: 7px;
    line-height: 42px;
}

.services-subtitle {
    font-size: 18px;
    text-align: center;
    line-height: 21px;
    color: #454545;
    margin-bottom: 36px;

}

.services-desc {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FF3E6C;
    margin-bottom: 13px;
}

.services-description {
    font-size: 16px;
    line-height: 19px;
    color: #454545;
    margin-bottom: 13px;
}

.footer {
    background: #FF3E6C;
    padding: 40px 0;
}

.footer-small {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-desc {
    font-size: 12px;
    color: #FFFFFF;


}